
tr.odd .field--type-cronpub-field-type .form-item,
tr.even .field--type-cronpub-field-type .form-item,
.field--type-cronpub-field-type .form-item {
    padding: .4em 0;
    margin: 0;
}

.field--type-cronpub-field-type [id*="weekdays--wrapper"] .form-item {
    width: 14%;
    float: left;
    min-width: 3.5em;
}

.sub-field-cronpub {
    box-sizing: border-box;
    padding-right: 1.5em;
    float: left;
    width: 50%;
    min-width: 300px;
}

div.cronpub-fieldset {
  border: 1px solid #c0c0c0;
  background-color: #fcfcfa;
  border-radius: 2px;
  margin: 1em 0;
  padding: 18px;
  position: relative;
}

.field--type-cronpub-field-type .current-cp-tasks {
  text-align: right;
}