
.field--type-cronpub-field-type span.rrule-js-draft {
  display: inline-block;
  border: 1px solid #333;
  background-color: #DDD;
  font-family: monospace;
  border-radius: 3px;
  padding: 0 .25em;
  cursor: pointer;
  margin: .25em;
}
.field--type-cronpub-field-type .messages {
  background-position: 10px 8px;
  padding: 7px 20px 7px 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.field--type-cronpub-field-type .current-cp-tasks {
  text-align: right;
}